.detailInfo {
  width: 1116px;
  height: 635px;
  padding: 50px;
  border-radius: 0 20px 20px 0;
  background-color: #212224;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.5);
  .days {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    .active {
      transform: scale(1.2);
      color: #fff;
      margin-left: 28px;
    }
    li {
      display: flex;
      align-items: center;
      margin-right: 44px;
      position: relative;
      font-size: 20px;
      cursor: pointer;
      color: #838383;
      transition: all 0.3s ease-in-out;

      img {
        position: absolute;
        left: -47px;
      }
      &:hover {
        color: #fff;

        transform: scale(1.2);
      }
    }
  }
}
